body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('img/header-bg.jpg'); /* la imagen de fondo */
  background-size: cover;  /* ocupa todo el header */
  background-position: center; /* centrada */
  color: white; /* texto blanco encima */
  padding: 60px 20px;
  text-shadow: 1px 1px 2px black; /* para que se vea el texto */
}


.btn {
  display: inline-block;
  margin-top: 20px;
  background: #c59d5f;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 20px;
}

section img {
  margin: 10px;
  border-radius: 10px;
}
section ul {
  list-style: none; /* quita los puntitos */
  padding: 0;       /* quita el margen interno */
}

section ul li {
  margin: 10px 0;   /* separa cada servicio */
  text-align: center; /* centra el texto de cada item */
}

